body {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#toolbar {
    background: #222;
    padding: 8px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.group {
    background: #333;
    padding: 5px 10px;
    border-radius: 6px;
    display: flex;
    gap: 8px;
    align-items: center;
}

#toolbar button {
    background: #444;
    border: none;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
}

#toolbar button:hover {
    background: #555;
}

#layersPanel {
    position: absolute;
    top: 60px;
    right: 10px;
    background: #222;
    padding: 10px;
    display: none;
    width: 200px;
    color: white;
    border-radius: 8px;
}

.layer-item {
    background: #333;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.layer-item:hover {
    background: #444;
}

#board {
    flex: 1;
    background: white;
}
